<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- Optional: link to CSS -->
    
</head>
<body>
    <header>
        <h3>Registration</h3>
    </header>

    <form action = "register" method="post"/>
    {% csrf_token %}

    <input type="text" name ="first_name" Placeholder="First Name"><br>
    <input type="text" name ="last_name" Placeholder="Last Name"><br>
    <input type="text" name ="username" Placeholder="User Name"><br>
    <input type="email" name ="email" Placeholder="Email"><br>
    <input type="password" name ="password1" Placeholder="Password"><br>
    
    <input type="password" name ="password2" Placeholder="Confirm Password"><br>
    <input type="submit" value="Submit">

</form> 
<div>
    {%for message in messages%}
    <h3>{{message}}</h3>
    {% endfor %}
</div>


    <footer>
        <p></p>
    </footer>

   
</body>
</html>
